---
kind: Service
apiVersion: v1
metadata:
  name: cockpit-{{ topic }}-{{ uuid }}{{ item }}
  namespace: vms-demo
  labels:
    type: {{ topic }}
spec:
  ports:
    - name: cockpit
      protocol: TCP
      port: 9090
      targetPort: 9090
  selector:
    vm.kubevirt.io/name: {{ topic }}-{{ uuid }}{{ item }}
---
kind: Service
apiVersion: v1
metadata:
  name: app-{{ topic }}-{{ uuid }}{{ item }}
  namespace: vms-demo
  labels:
    type: {{ topic }}
spec:
  ports:
    - name: app
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    vm.kubevirt.io/name: {{ topic }}-{{ uuid }}{{ item }}
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: cockpit-{{ topic }}-{{ uuid }}{{ item }}
  namespace: vms-demo
  labels:
    type: {{ topic }}
spec:
  host: cockpit-{{ topic }}-{{ uuid }}{{ item }}-vms-demo.apps.ocp.drkspace.fr
  to:
    kind: Service
    name: cockpit-{{ topic }}-{{ uuid }}{{ item }}
    weight: 100
  port:
    targetPort: cockpit
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: app-{{ topic }}-{{ uuid }}{{ item }}
  namespace: vms-demo
  labels:
    type: {{ topic }}
spec:
  host: app-{{ topic }}-{{ uuid }}{{ item }}-vms-demo.apps.ocp.drkspace.fr
  to:
    kind: Service
    name: app-{{ topic }}-{{ uuid }}{{ item }}
    weight: 100
  port:
    targetPort: app
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None